{{define "footer"}}
<footer class="bg-dark">
  <div class="container pt-4 pb-2">
    <div class="row text-light">
      <div class="col-sm pb-4">
        <h4 class="font-weight-normal">Contact Us >></h4>
        <ul class="h5 list-unstyled">
          <li class="text-light font-weight-normal py-1">
            <span class="fab fa-facebook fa-lg" style=" vertical-align: middle;"></span>
            <a class="text-primary font-weight-normal pl-1" href="https://www.facebook.com/UoYMathSoc/">/UoYMathSoc</a>
          </li>
          <li class="text-light font-weight-normal py-1">
            <span class="fab fa-twitter fa-lg" style=" vertical-align: middle;"></span>
            <a class="text-primary font-weight-normal pl-1" href="https://twitter.com/uoymathsoc">@UoYMathSoc</a>
          </li>
          <li class="text-light font-weight-normal py-1">
            <span class="fas fa-envelope fa-lg" style=" vertical-align: middle;"></span>
            <a class="text-primary font-weight-normal pl-1" href="mailto:maths@yusu.org">maths@yusu.org</a>
          </li>
        </ul>
      </div>
      <div class="col-sm pb-4">
        <h4 class="font-weight-normal">Placeholder >></h4>
        <ul class="h5">
          <li class="py-1">
            <a class="text-primary font-weight-normal" href="#">Item 1</a>
          </li>
          <li class="py-1">
            <a class="text-primary font-weight-normal" href="#">Item 2</a>
          </li>
          <li class="py-1">
            <a class="text-primary font-weight-normal" href="#">Item 3</a>
          </li>
        </ul>
      </div>
      <div class="col-sm pb-4">
        <h4 class="font-weight-normal">About Us >></h4>
        <ul class="h5">
          <li class="py-1">
            <a class="text-primary font-weight-normal" href="https://yusu.org/about-us/organisational-policies/terms-conditions">T&amp;Cs</a>
          </li>
          <li class="py-1">
            <a class="text-primary font-weight-normal" href="https://yusu.org/about-us/organisational-policies/data-protection">Data Protection</a>
          </li>
          <li class="py-1">
            <a class="text-primary font-weight-normal" href="https://yusu.org/about-us/organisational-policies/data-sharing">Data Sharing</a>
          </li>
        </ul>
      </div>
      <!--
      <div class="col-sm">
        <h4>Upcoming Events</h4>
      </div>
      -->
    </div>
  </div>
</footer>
{{end}}