#   ___ __  __ ____   ___  ____ _____  _    _   _ _____ 
#  |_ _|  \/  |  _ \ / _ \|  _ \_   _|/ \  | \ | |_   _|
#   | || |\/| | |_) | | | | |_) || | / _ \ |  \| | | |  
#   | || |  | |  __/| |_| |  _ < | |/ ___ \| |\  | | |  
#  |___|_|  |_|_|    \___/|_| \_\|_/_/   \_\_| \_| |_|  
#
#
# This is the main config file for the 2020-site.
# Any changes to this config should be reflected in the struct `structs.Config`

# This is the config for the server
[server]
	address	 = "localhost"
	port     = 3000
	timeout	 = 0

# This is the config for the database
[database]
	host     = "localhost"
	port     = 5432
	user     = "postgres"
	password = "password"
	name     = "postgres"

# This is data that will be passed into all templates
[pageContext]
	longName  = "University of York Maths Society"
	shortName = "MathSoc"
	siteDescription = "We are a society aimed at everyone with an interest in maths at any level."

	urlPrefix = ""
	fullURL = "https://yums.org.uk"

	mainTwitter = "UoYMathSoc"
	mainFacebook = "UoYMathSoc"
	